## Number -  Integer and Float

In [56]:
# What is the data type for 100
# What is the data type for 100.05
# Use print

#--------------- Write your code below----------------------------#

print(type(100))

print(type(100.05))

<class 'int'>
<class 'float'>

In [4]:
# Basic Arithmetic
# what is 15% of 200

#--------------- Write your code below----------------------------#
15/100 * 200

30.0

In [10]:
# Juanita’s salary is $2,650.00 per month. If she receives a salary increase of 5%, what is her new monthly salary?

#--------------- Write your code below----------------------------#
junita_sal = 2650
increase = 5/100 * 2650
new_sal = junita_sal + increase
new_sal

2782.5

In [25]:
# Jasper collects 1,082 cans of food. He gives a certain number of cans to the first local charity he finds. 
# He now has 602 cans of food. How many cans of food did he give to the first local charity?

#--------------- Write your code below----------------------------#

totalCan = 1082
firstLocalCharity = x
remainingCans = 602
x = totalCan - remainingCans
x

480

In [11]:
# what is the square root of 100

#--------------- Write your code below----------------------------#

import math
num = int(input("Enter a number:"))
sqRoot = math.sqrt(num)
print (f"The square root of {num} is " ,sqRoot)

Enter a number:100
The square root of 100 is  10.0

## Variable Assignment - Integers and Floats

In [27]:
# what is the difference between income and tax i.e. income - tax and assign it to disposbale income
# disposable_income = income - tax
# Use input
#--------------- Write your code below----------------------------#

income = float(input("Please enter your income "))
tax = float(input("Please enter your tax amount "))
di = disposable_income
disposable_income = income - tax
di

Please enter your income 2000
Please enter your tax amount 100

1900.0

In [30]:
# Pamela’s salary is $3125.00 per month. If she receives a salary increase of 5%, her new monthly salary is:
# pam_sal = 
# sal_increase = 
# new_salary = 
# Use input
#--------------- Write your code below----------------------------#

pam_sal = float(input("Enter Pamela salary per month "))
x = pam_sal
y = pam_sal * 0.05
new_salary = x + y
new_salary

Enter Pamela salary per month 3125

3281.25

In [24]:
# You plan to forecast using the Simple Liner Forecast (Y = a + bx). What is Y? when a=1200, b=0.56 and x = 2500
# a = 
# b = 
# x = 
# y = a + bx
# Use input
#--------------- Write your code below----------------------------#

a = float(input("Please enter value of a "))
b = float(input("Please enter value of b "))
x = float(input("Please enter value of x "))
Y = (a + b * x)
Y

Please enter value of a 1200
Please enter value of b 0.56
Please enter value of x 2500

2600.0

In [13]:
# Student Calculator
# Get user input to calculate total score

# first_test = input(What is your score for first test: )
# second_test == input("What is your score for second test: )
# attendance = input(What is your score for attendance: )
# exam = input(What is your score for exam: )
# total_score = f_test + s_test + attend + examination
# total_score

#--------------- Write your code below----------------------------#

f_test = float(input("What is your score for first test "))
s_test = float(input("What is your score for first test "))
attend_num = float(input("What is your score for attendance "))
exam = float(input("What's your exam score "))

total_score = f_test + s_test + attend_num + exam

total_score

What is your score for first test 20
What is your score for first test 20
What is your score for attendance 10
What's your exam score 41

91.0

## Strings

In [45]:
# Assign The quick brown fox jumps over the lazy dog to a Variable(text)

# text = The quick brown fox jumps over the lazy dog

# Slice the string to obtain quick brown fox
# Slice the string to obtain the lazy dog
# Use negative Indexing to obtain lazy dog
# Obtain the Length of the string

#--------------- Write your code below----------------------------#
text = "The quick brown fox jumps over the lazy dog"
sliced_text = text[4:19] 
print(sliced_text)
sliced_text = text[31:43]
print(sliced_text)
sliced_text = text[-12:]
print(sliced_text)
len(text)

quick brown fox
the lazy dog
the lazy dog

43

In [46]:
# Assign The quick brown fox jumps over the lazy dog to a Variable(text)

# Convert this string above into a list using one of the list methods

text = "The quick brown fox jumps over the lazy dog"
check_list = text.split()
print(check_list)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [53]:
# Get input from user and Concatenate the code below

# Name = What is your name?
# Age = How old are you?
# State = What is your state of origin?
# Profession = What is your profession?
# Bio = print(My name is _ and i'm _ years old. I am from _ state and i am _ by profession)

#--------------- Write your code below----------------------------#

Name = str(input("What is your name? "))
Age = float(input("How old are you? "))
State = str(input("What is your state of origin? "))
Profession = str(input("What is your profession? "))
Bio = f"My name is {Name} i'm {Age} years old. I am from {State} state and i am {Profession} by profession"
print(Bio)

What is your name? Chris
How old are you? 34
What is your state of origin? Imo
What is your profession? Data Engineer
My name is Chris i'm 34.0 years old. I am from Imo state and i am Data Engineer by profession

## List

In [14]:
# Create a list of states in Nigeria

# Abia
# Adamawa
# Akwa Ibom
# Anambra
# Bayelsa
# Benue
# Borno
# Cross River
# Nasarawa
# Niger
# Ogun
# Ondo
# Osun
# Oyo
# Plateau
# Rivers
# Sokoto
# Taraba
# Yobe
# Zamfara

# state = []

#--------------- Write your code below----------------------------#

list = ["Abia", "Adamawa", "Akwa Ibom", "Anambra", "Bayelsa", "Benue", "Borno", "Cross River", "Nasarawa", 
        "Niger","Ogun", "Ondo", "Osun", "Oyo", "Plateau", "Rivers", " Sokoto", "Taraba", "Yobe",  "Zamfara"]

In [15]:
# Q1: What is the total length of your list

#--------------- Write your code below----------------------------#

len(list)

20

In [16]:
# Q2: Index and retrieve the first 10

#--------------- Write your code below----------------------------#

list[:10]

['Abia',
 'Adamawa',
 'Akwa Ibom',
 'Anambra',
 'Bayelsa',
 'Benue',
 'Borno',
 'Cross River',
 'Nasarawa',
 'Niger']

In [17]:
# Q3: Index and retrieve Cross River, Nasarawa, Niger, Ogun, Ondo, Osun, Oyo, Plateau

#--------------- Write your code below----------------------------#

list[7:15]

['Cross River', 'Nasarawa', 'Niger', 'Ogun', 'Ondo', 'Osun', 'Oyo', 'Plateau']

In [18]:
# Q4: Use Negative indexing to retrieve the last 5 states

#--------------- Write your code below----------------------------#

list[-5:]

['Rivers', ' Sokoto', 'Taraba', 'Yobe', 'Zamfara']

## Dictionary

In [47]:
# Q1: Create a dictionary of states and governor in Nigeria

# Abia State: nil
# Anambra State: Willie Obiano
# Benue State: Samuel Ortom
# Delta State: Ifeanyi Okowa
# Ekiti State: nil
# Lagos State: Babajide Sanwo-Olu
# Plateau State: Simon Lalong
# Taraba State: Arch. Darius Ishaku
# Kogi State: Yahaya Bello
# Anambra State: Willie Obiano

#--------------- Write your code below----------------------------#

states_and_governors = {
    "Abia State": "nil",
    "Anambra State": "Willie Obiano",
    "Benue State": "Samuel Ortom",
    "Delta State": "Ifeanyi Okowa",
    "Ekiti State": "nil",
    "Lagos State": "Babajide Sanwo-Olu",
    "Plateau State": "Simon Lalong",
    "Taraba State": "Arch. Darius Ishaku",
    "Kogi State": "Yahaya Bello",
}

states_and_governors["Anambra State"] = "Willie Obiano"

for state, governor in states_and_governors.items():
    print(f"{state}: {governor}")

Abia State: nil
Anambra State: Willie Obiano
Benue State: Samuel Ortom
Delta State: Ifeanyi Okowa
Ekiti State: nil
Lagos State: Babajide Sanwo-Olu
Plateau State: Simon Lalong
Taraba State: Arch. Darius Ishaku
Kogi State: Yahaya Bello

In [48]:
# Q2: update Abia and Ekiti (Okezie Ikpeazu, Kayode Fayemi)

#--------------- Write your code below----------------------------#

states_and_governors["Abia State"] = "Okezie Ikpeazu"
states_and_governors["Ekiti State"] = "Kayode Fayemi"

for state, governor in states_and_governors.items():
    print(f"{state}: {governor}")

Abia State: Okezie Ikpeazu
Anambra State: Willie Obiano
Benue State: Samuel Ortom
Delta State: Ifeanyi Okowa
Ekiti State: Kayode Fayemi
Lagos State: Babajide Sanwo-Olu
Plateau State: Simon Lalong
Taraba State: Arch. Darius Ishaku
Kogi State: Yahaya Bello

In [49]:
# Q3: Add
# Cross River State: Benedict Ayade
# Ebonyi State: Dave Umahi
# Sokoto State: Aminu Waziri Tambuwal

#--------------- Write your code below----------------------------#

states_and_governors["Cross River State"] = "Benedict Ayade"
states_and_governors["Ebonyi State"] = "Dave Umahi"
states_and_governors["Sokoto State"] = "Aminu Waziri Tambuwal"

for state, governor in states_and_governors.items():
    print(f"{state}: {governor}")

Abia State: Okezie Ikpeazu
Anambra State: Willie Obiano
Benue State: Samuel Ortom
Delta State: Ifeanyi Okowa
Ekiti State: Kayode Fayemi
Lagos State: Babajide Sanwo-Olu
Plateau State: Simon Lalong
Taraba State: Arch. Darius Ishaku
Kogi State: Yahaya Bello
Cross River State: Benedict Ayade
Ebonyi State: Dave Umahi
Sokoto State: Aminu Waziri Tambuwal

In [52]:
# Q4: Remove Lagos, Sokoto, taraba and Kogi from the dictionary

#--------------- Write your code below----------------------------#
states_to_remove = ["Lagos State", "Taraba State", "Kogi State", "Sokoto State"]
for state in states_to_remove:
    if state in states_and_governors:
        del states_and_governors[state]

for state, governor in states_and_governors.items():
    print(f"{state}: {governor}")

Abia State: Okezie Ikpeazu
Anambra State: Willie Obiano
Benue State: Samuel Ortom
Delta State: Ifeanyi Okowa
Ekiti State: Kayode Fayemi
Plateau State: Simon Lalong
Cross River State: Benedict Ayade
Ebonyi State: Dave Umahi

# General

In [36]:
# Q1: Remove duplicates in the below items with one of Python's datatypes:
#Lagos, Kwara, Ogun, Ebonyi, Kano, Katsina, Oyo, Kwara, Cross River

#--------------- Write your code below----------------------------#

state = ["Lagos", "Kwara", "Ogun", "Ebonyi", "Kano", "Katsina", "Oyo", "Kwara", "Cross River"]
state.pop(1)
state

['Lagos', 'Ogun', 'Ebonyi', 'Kano', 'Katsina', 'Oyo', 'Kwara', 'Cross River']

In [39]:
# Q2: What is the length of the datatype?

#--------------- Write your code below----------------------------#
len(state)

8

In [ ]:
# Q3: What datatype ensures its elements are immutable?

#--------------- Write your answer below----------------------------#

Tuples

In [ ]:
# Q4: What datatype of Python houses unordered elements?

#--------------- Write your answer below----------------------------#

set