<h1 align = center> Basic SQL Syntax </h1>
<h4 align = center> Facilitator: Kelvin Oyanna</h4>

### Install Ipython

In [32]:
pip install ipython

Requirement already satisfied: ipython in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (8.12.0)
Requirement already satisfied: backcall in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from ipython) (0.2.0)
Requirement already satisfied: decorator in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from ipython) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from ipython) (0.18.1)
Requirement already satisfied: matplotlib-inline in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from ipython) (0.1.6)
Requirement already satisfied: pickleshare in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from ipython) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from ipython) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from ipython) (2.15.1)
Requirement already satisfied: stack-data in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from ipython) (0.2.0)
Requirement already satisfied: traitlets>=5 in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from ipython) (5.7.1)
Requirement already satisfied: pexpect>4.3 in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from ipython) (4.8.0)
Requirement already satisfied: appnope in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from ipython) (0.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from jedi>=0.16->ipython) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from pexpect>4.3->ipython) (0.7.0)
Requirement already satisfied: wcwidth in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython) (0.2.5)
Requirement already satisfied: executing in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from stack-data->ipython) (0.8.3)
Requirement already satisfied: asttokens in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from stack-data->ipython) (2.0.5)
Requirement already satisfied: pure-eval in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from stack-data->ipython) (0.2.2)
Requirement already satisfied: six in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from asttokens->stack-data->ipython) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [33]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (0.5.0)
Requirement already satisfied: prettytable in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from ipython-sql) (3.8.0)
Requirement already satisfied: ipython in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from ipython-sql) (8.12.0)
Requirement already satisfied: sqlalchemy>=2.0 in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from ipython-sql) (2.0.20)
Requirement already satisfied: sqlparse in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.6.3)
Requirement already satisfied: greenlet!=0.4.17 in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: pexpect>4.3 in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: appnope in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.2)
Requirement already satisfied: wcwidth in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

### Load Ipython SQL library in order to use SQL on Jupyter Notebook

### Connect to the dvdrental database from the last lesson

In [34]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (2.0.20)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from sqlalchemy) (4.6.3)
Requirement already satisfied: greenlet!=0.4.17 in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from sqlalchemy) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [35]:
 pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (2.9.7)
Note: you may need to restart the kernel to use updated packages.

In [36]:
pip install psycopg2

Requirement already satisfied: psycopg2 in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (2.9.7)
Note: you may need to restart the kernel to use updated packages.

In [37]:
pip install pgspecial

Requirement already satisfied: pgspecial in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (2.1.0)
Requirement already satisfied: click>=4.1 in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from pgspecial) (8.0.4)
Requirement already satisfied: sqlparse>=0.1.19 in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from pgspecial) (0.4.4)
Requirement already satisfied: psycopg>=3.0.10 in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from pgspecial) (3.1.10)
Requirement already satisfied: typing-extensions>=4.1 in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (from psycopg>=3.0.10->pgspecial) (4.6.3)
Note: you may need to restart the kernel to use updated packages.

In [38]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [40]:
from sqlalchemy import create_engine

In [2]:
# We're connecting to the PostgreSQL database using the PostgreSQL connection string
# The PostgreSQL string is in this format: %sql dialect+driver://username:password@host:port/databaseName

%sql postgresql://chris:admin123@localhost/dvdrental

UsageError: Line magic function `%sql` not found.

In [19]:
%sql commit

 * postgresql://mamiololo:***@localhost/dvdrental
Done.

[]

## Let's see the list of tables in the dvdrental database

## Data Definition Laguage/Data Minipulation Language - DDL/DML

#### Create Database

This statement is used to create a new database. Below is the syntax for creating a database.

In [21]:
%sql CREATE DATABASE learning_db

 * postgresql://mamiololo:***@localhost/dvdrental
(psycopg2.errors.ActiveSqlTransaction) CREATE DATABASE cannot run inside a transaction block

[SQL: CREATE DATABASE learning_db]
(Background on this error at: https://sqlalche.me/e/20/2j85)

### Let's connect to the new database

In [23]:
%sql postgresql://postgress:admin123@localhost/Sales

### Create table statement

In [25]:
%%sql
CREATE TABLE customers(
customer_id int,
first_name varchar,
last_name varchar,
address varchar,
date_of_birth date
);

 * postgresql://mamiololo:***@localhost/Sales
   postgresql://mamiololo:***@localhost/dvdrental
Done.

[]

### Inserta data into a table

In [26]:
%%sql
INSERT INTO customers (customer_id, first_name, last_name, address, date_of_birth)
VALUES (234, 'Chinedu', 'Bright', '12, parkview, Ikoyi, Lagos, Nigeria', '2023-08-20'),
(132, 'Daniel', 'Achibong', '5, Glover Road, Lekki, Lagos, Nigeria', '2023-08-22'),
(142, 'Segun', 'Wire Wire', '34, Allen road, Ikeja, Lagos, Nigeria', '2023-08-23')

 * postgresql://mamiololo:***@localhost/Sales
   postgresql://mamiololo:***@localhost/dvdrental
3 rows affected.

[]

### Delete record from table

In [27]:
%sql select * from customers

 * postgresql://mamiololo:***@localhost/Sales
   postgresql://mamiololo:***@localhost/dvdrental
3 rows affected.

[(234, 'Chinedu', 'Bright', '12, parkview, Ikoyi, Lagos, Nigeria', datetime.date(2023, 8, 20)),
 (132, 'Daniel', 'Achibong', '5, Glover Road, Lekki, Lagos, Nigeria', datetime.date(2023, 8, 22)),
 (142, 'Segun', 'Wire Wire', '34, Allen road, Ikeja, Lagos, Nigeria', datetime.date(2023, 8, 23))]

In [29]:
%sql DELETE FROM customers where customer_id = 132

 * postgresql://mamiololo:***@localhost/Sales
   postgresql://mamiololo:***@localhost/dvdrental
1 rows affected.

[]

In [30]:
%sql select * from customers

 * postgresql://mamiololo:***@localhost/Sales
   postgresql://mamiololo:***@localhost/dvdrental
2 rows affected.

[(234, 'Chinedu', 'Bright', '12, parkview, Ikoyi, Lagos, Nigeria', datetime.date(2023, 8, 20)),
 (142, 'Segun', 'Wire Wire', '34, Allen road, Ikeja, Lagos, Nigeria', datetime.date(2023, 8, 23))]

In [ ]:
%sql select * from learning_db.public.customers;

### Update record in a table

In [ ]:
%sql UPDATE learning_db.public.customers SET first_name = 'Boby' where customer_id =234

In [ ]:
%sql select * from learning_db.public.customers;

### Modify table/Schema
We use the ALTER TABLE clause to add column, change data type, rename column or delete column from a database

In [ ]:
%%sql ALTER TABLE learning_db.public.customers
add gender varchar,
add age int;

### Delete column

In [ ]:
%%sql ALTER TABLE customers
drop gender;

In [ ]:
%sql select * from learning_db.public.customers;

### Remove data from a table

In [ ]:
%sql TRUNCATE TABLE customers;

In [ ]:
%sql select * from learning_db.public.customers;

### Droping a table

In [ ]:
%sql drop table learning_db.public.customers;

In [ ]:
%sql select * from learning_db.public.customers;

## Drop Database

The Drop database statement is use to delete an existing database. 

Warning: Use this statement with care. Always ensure you check that you don't have any useful data in the database before using the drop database command. Below is the syntax for the drop database statement.

### Let's connect to the dvdrental database before droping the current db

In [ ]:
%sql postgresql://postgres:root@localhost/dvdrental

### Commit Transaction block

In [ ]:
%sql commit

In [ ]:
%sql DROP DATABASE learning_db WITH (FORCE)

## Data Query Language (DQL)

### Select Statement
With the select statement, we can retrieve data from a table in a database. We use the SELECT keyword anlong-side the FROM keyword and specify the name of the table. The LIMIT keyword is used to limit the number of records to show.

Let's use the Select Statement to show data from the actor table. "*" is used to Select ALL records.

In [ ]:
%%sql SELECT * 
FROM actor
LIMIT 10

If you want to select a number of columns from a table and not all, you simply specify the names of the column in the select statement.

Let's get the Firs name and Last name of actors

In [ ]:
%%sql SELECT first_name, last_name
FROM actor
LIMIT 5

## The Where Clause
The Where clause is used to filter the data that is returned. Only records where the expression in the WHERE statement is True is returned.

Let' get the movies released in the year 2006

In [ ]:
%%sql SELECT film_id, title, release_year, rental_duration
FROM film
WHERE release_year = 2006
LIMIT 5

<b>You can also use any comparism operator (>, <, !=, <=, >=) in the WHERE clause.

Let's get the data for payment above 5.0</b>

In [ ]:
%%sql SELECT *
FROM payment
WHERE amount > 5.0
LIMIT 5

## The LIKE operator
LIKE is a logical operator in SQL that allows you to match on similar values rather than exact ones. 
Let's get the data for customers whose country name starts with the word "United".

In [ ]:
%%sql SELECT *
FROM country
WHERE country LIKE 'United%'
LIMIT 10

<b>Let's get the data of customers whose country name ends in "ia"</b>

In [ ]:
%%sql SELECT *
FROM country
WHERE country LIKE '%ria%'
LIMIT 10

<b>Since the Like operator is case-sensitive, we can use the ILIKE operator in order to ignore case.
Below, we got the data of customers whose country name starts with "United" - both in upper or lower case.
</b>

In [ ]:
%%sql SELECT *
FROM country
WHERE country ILIKE 'United%'
LIMIT 5

## The IN operator
IN is a logical operator that allows you to specify a list of values that you'd like to include in the results.

Let's get the data of customers in these countries: Ghana, Nigeria, China, Australia, Mexico, Canada

In [ ]:
%%sql SELECT *
FROM country
WHERE country IN ('Nigeria', 'India', 'China', 'Australia', 'Mexico', 'Canada')
LIMIT 10

## The BETWEEN operator
BETWEEN is a logical operator that allows you to select only rows that are within a specific range. It has to be paired with the AND operator.

Let's get the data for payments made between '2007-02-07' AND '2007-02-15'

In [ ]:
%%sql SELECT customer_id, payment_id, amount, payment_date
FROM payment
WHERE payment_date BETWEEN '2007-02-07' AND '2007-02-15'
LIMIT 5

In [ ]:
%%sql SELECT customer_id, payment_id, amount, payment_date
FROM payment
WHERE amount BETWEEN 2 AND 4
ORDER BY amount desc
LIMIT 5;

## The AND operator
The AND is a logical operator that allows you to select only record/rows that satisfy two conditions.

Let's get the data of movies whose rental duration is 7 days and their retal rate is less than $5

In [ ]:
%%sql SELECT film_id, title, release_year, rental_duration, rental_rate
FROM film
WHERE rental_duration = 7 AND rental_rate < 5
LIMIT 5

## The OR operator
The OR operator is a logical operator that allows you to select rows that satisfy either of two conditions.

Let's get the data for movies which has either a 5 days rental duration or their rental rate is greater than $5

In [ ]:
%%sql SELECT film_id, title, release_year, rental_duration, rental_rate
FROM film
WHERE rental_duration = 5 OR rental_rate > 5
ORDER BY rental_duration
LIMIT 10

## The ORDER BY Clause
The ORDER BY clause allows you to reorder the result of your query based on the data value in one or more columns. The ORDER BY clause is followed by either DESC keyword (for descending order) or ASC (for ascending ordering). If this is not specified. the query result is returned in ascending order.

Let's get the data for movies and order the result from the least rental duration to the highest rental duration.

In [ ]:
%%sql SELECT film_id, title, release_year, rental_duration, rental_rate
FROM film
ORDER BY rental_rate DESC
LIMIT 20

<b>Let's get the data for movie categories and order the result in reverse Alphabetical order</b>

In [ ]:
%%sql SELECT *
FROM category
ORDER BY name DESC
LIMIT 10