<h1 align = center> Data Structure: List, Dictionary, Tuple & Set</h1>

<b> Data structrures provide a way to group values of the integer, float, string etc. data types.
In this lesson, we will be discusing the different data structures in Python. This includes: List, Dictionary,
tuple and set data types.</b>

## List

<b>A list is a mutable ordered sequences of elements. It is defined with two square brackets with each elements in the square barackets separated by a coma. See example of a list below:</b>

In [2]:
# Define a list of months
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

In [3]:
ages = [67, 45, 34, 20, 77, 12, 8, 44]

### Accessing Values in a List
<b> We can retrieve a particular element or group of elements of a list by using indexes. A list has a zero-based index. This means the index of a list starts from zero. Example:</b>

In [4]:
print(months[6])   # Get the month of july

print(months[2:9]) # Get get the items between index 2 and 9 (index 9 excluded)

print(months[-1])  # Get the last element of the list

print(months[:5])  # Get the elements between index 0 and index 5 (index 5 excluded)

print(months[3:])  # Get the elements from index 3 to the last element on the list

July
['March', 'April', 'May', 'June', 'July', 'August', 'September']
December
['January', 'February', 'March', 'April', 'May']
['April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

### Updating the elements of a list

In [5]:
subjects = ['Physics', 'Chemistry', 'Biology', 'Mathematics', 'Englis Language'] # Define a list of subjects taught

subjects[2] = 'Economics' # Assign a new value to the element at index 2

subjects.append('Health Education') # Add a new element to the end of the list

print(subjects) # Print

#print(subjects.pop(2)) # Remove the element at index 0
#print(subjects) # Print
#subjects[0] = 'Statistics'
print(subjects)

['Physics', 'Chemistry', 'Economics', 'Mathematics', 'Englis Language', 'Health Education']
['Physics', 'Chemistry', 'Economics', 'Mathematics', 'Englis Language', 'Health Education']

### List Functions

In [7]:
num_list = [12, 5, 4, 6, 22, 4, 50, 12, 4, 12] # Define a list of numeric values

print(len(num_list))     # Returns the size or number of items of a list

print(min(num_list))     # Returns the smallest element of a list

print(max(num_list))     # Returns the largest element of a list

print(num_list.count(5)) # Returns the count of the object passed as argument, in the list

num_list.sort(reverse = True)          # Sort the list in ascending order
print(num_list)
#print(sum(num_list))   # Sum all the items of a list

10
4
50
1
[50, 22, 12, 12, 12, 6, 5, 4, 4, 4]

### Check if an element is in a list
<b>The 'in' operator is used to check if an element is present in a list. It returns a boolean True if item is in a list or False otherwise.</b>

In [9]:
num_list = [12, 5, 4, 6, 22, 4, 50]

print(50 in num_list) # Check if '10' is present in the list

print(29 in num_list) # Check if '22' is present in the list

True
False

## Dictionary

<b> A dictionary is a data structure that store a Key-Value pair of elements. A dictionary is define in two curly braces with each item of the dictionary separated by commas. The keys of a dictionary are unque.</b>

In [10]:
staff = {'staff_id': 123, 'name': 'Zara', 'age': 7, 'department': 'Finance'} # Define a dictionary

### Accessing Values in a Dictionary
<b>We can retrieve a particular value in a dictionay by specifying the key in a square bracket. Example:</b>

In [11]:
print(staff['age'])  # Get the name of a staff

print(staff['department'])  # Get the department of the staff

7
Finance

### Updating items in a dictionary

In [14]:
staff = {'name': 'Zara', 'age': 7, 'department': 'Finance'}

staff['age'] = 60 # Update the age of the staff with value 60 from 7
staff['name'] = 'Mamiololo'

print(staff)

{'name': 'Mamiololo', 'age': 60, 'department': 'Finance'}

### Adding new Key Value Pair to a dictionary
<b> Just like a list, you can add a new key-value pair to the end of an existing dictionary using the Update function</b>

In [25]:
staff = {'name': 'Zara', 'age': 7, 'department': 'Finance'}

staff.update({'country': 'Canada', 'staff_id': 7856}) # Add country of staff to the dictionary

print(staff)

{'name': 'Zara', 'age': 7, 'department': 'Finance', 'country': 'Canada', 'staff_id': 7856}

In [15]:
print(staff.get('name'))

Mamiololo

### Dictionary functions

In [16]:
staff = {'name': 'Zara', 'age': 7, 'department': 'Finance'}

print(len(staff))    # Returns the lenght of the dictionary

print(staff.items())  # Returns a list of the dictionary's (key, value) tuple pairs

print(staff.values())  # Returns a list of the dictionary's values

print(staff.keys()) # Returns a list of the dictionary's keys

print(staff.get('level')) # Returns value of the specified key or default value None if key not in dictionary

3
dict_items([('name', 'Zara'), ('age', 7), ('department', 'Finance')])
dict_values(['Zara', 7, 'Finance'])
dict_keys(['name', 'age', 'department'])
None

In [17]:
print(list(staff.keys()))

['name', 'age', 'department']

In [18]:
print(list(staff.values()))

['Zara', 7, 'Finance']

In [19]:
print(staff.items())

dict_items([('name', 'Zara'), ('age', 7), ('department', 'Finance')])

In [20]:
staff['salary']

KeyError: 'salary'

In [21]:
staff.get('salary', 'Unvailable')

'Unvailable'

## Tuple 
<b>A tuple is a collection of ordered and immutable objects. Tuples are sequences, just like lists. The differences between tuples and lists are: 
<p> 1. Tuples cannot be changed unlike lists</p>
<p>2.Tuples use parentheses, whereas lists use square brackets.</p>
    
Tuples are mostly useful when a pair of values must always go together E.g (logitude, latitutude), (username, password). See example of tuple below:</b>

In [22]:
courses = ('physics', 'chemistry', 'Mathematics', 'Biology') # Define a tuple

In [23]:
couples = [ ('Jane', 'John'), ('Morayo', 'Chinedu'), ('Bella', 'Smog')]
couples[2] = ('Tayo', 'Smog')
couples

[('Jane', 'John'), ('Morayo', 'Chinedu'), ('Tayo', 'Smog')]

### Accessing Values in Tuples

In [47]:
print(courses[2])   # Retrieve the element at index 2

Mathematics

### Imutability of a tuple

In [24]:
courses[3] = 'Economics' # Returns error as this attempts to alter an element of the tuple.

TypeError: 'tuple' object does not support item assignment

<b> Most of the operations on list and dictionary above are also applicable to tuples</b>

## Sets
<b>A set is a data structure consisting of mutable unordered collection of UNIQUE elements. Set is useful for removing duplicates from a group of items.</b>

In [25]:
fruits = {'orange', 'Banana', 'Apple', 'Banana'} # Define a Set containing fruits

In [26]:
print(fruits)

{'Apple', 'Banana', 'orange'}

In [27]:
staff_ids = {123, 345, 678, 222, 222}
staff_ids

{123, 222, 345, 678}

### Creating a set using the set() constructor 
<b>Let's use this to remove duplicate from a list of elements</b>

In [73]:
countries = ['Ghana', 'United Kingdom', 'China', 'Canada', 'Canada', 'Nigeria', 'Ghana'] # Define a list of countries

unique_countries = set(countries)  # Converts the list to an unordered set with unique elements

print(unique_countries)

{'United Kingdom', 'Canada', 'Ghana', 'Nigeria', 'China'}

### Adding new elements to a set

In [74]:
unique_countries.add('Brazil')  # Add a new country - Brazil

print(unique_countries)

{'United Kingdom', 'Canada', 'Brazil', 'Ghana', 'Nigeria', 'China'}

<b>Most of the operations on list and dictionary above are also applicable to sets</b>

### Functions applicable to the different data structures

list = append()
dictionary = update()
set = add()
tupple = append()