<h1 align = center> Demo1: Data Modeling with PostgreSQL</h1>

<p> In this demo, we will be designing a data model using the concepts of Facts and dimension tables and Star schema we learnt in the data modeling section. Our data model will be built using PostgreSQL (A relational data base management system).</p>

### Case-Study
<p> Assuming  you work at a Supermaket/Grocery store and you are responsible for recording the daily purchases for the different branches of stores owned by the supermaket. Using the star schema approach of database design, you're requested to design a data model that captures all the sales data points in a PostgreSQL database to be used for the back-end of the company's sales management application.</p>

<p> Let's begin by modeling the data in the Star Schema below for the Sales Management System.</p>

<h2 align = center>Star Schema</h2>
<img src = 'StarSchema.png' width = 850 height = 650/>

## Installing PostgreSQL
Follow <a href = 'https://www.postgresqltutorial.com/install-postgresql/'> this link </a> for detailed instruction on downloading and installing posgreSQL.

### Installations

pip install ipython-sql
pip install psycopg2
pip install sqlalchemy

### Load Ipython SQL library in order to use SQL on Jupyter Notebook

In [ ]:
%load_ext sql

### Connect to PostgreSQL database using the PostgreSQL connection string

In [ ]:
# The PostgreSQL string is in this format: %sql dialect+driver://username:password@host:port/database
%sql postgresql://postgres:root@localhost/sales_db

### Let's identify the tables needed & their attributes/columns

Fact Tables:
Table Name: fact_Sales
column: date_id
column: store_id
column: product_id
column: units_sold



Dimension Tables:
Table Name: dim_date
column: id
column: date
column: day
column: month
column: quarter
column: year

Table Name: dim_store
column: id
column: state_province
column: country

Table Name: dim_product
column: id
column: product_code
column: product_name
column: price
column: category

### Creating Facts & Dimension Tables

In [ ]:
%%sql
-- Create the data dimension table --
CREATE TABLE IF NOT EXISTS dim_date (date_id char(5) not null primary key, date date, day int, month varchar(15), quarter int, year varchar(5));

In [ ]:
%%sql
-- Create the Store dimension table --
CREATE TABLE IF NOT EXISTS dim_store (store_id char(5) not null primary key, state_province varchar(50), country varchar(50));

In [ ]:
%%sql
-- Create the product dimension table --
CREATE TABLE IF NOT EXISTS dim_product (product_id char(5) not null primary key, product_code varchar(20),
                                        product_name varchar(50), price int, category varchar(50));

In [ ]:
%%sql
-- Create the sales fact table --
CREATE TABLE IF NOT EXISTS fact_sales (date_id char(5) references dim_date, store_id char(5) references dim_store,
                                      product_id char(5) references dim_product, units_sold int);

### Let's Insert data into the tables

In [ ]:
%%sql
-- Insert data into the date dimension table --
INSERT INTO dim_date VALUES ('DD001', '02/01/2019', 1, 'February', 1, 2019);
INSERT INTO dim_date VALUES ('DD002', '02/05/2019', 5, 'February', 1, 2019);
INSERT INTO dim_date VALUES ('DD003', '03/09/2019', 9, 'March', 1, 2019);
INSERT INTO dim_date VALUES ('DD004', '06/08/2018', 8, 'June', 2, 2018);
INSERT INTO dim_date VALUES ('DD005', '07/03/2018', 15, 'July', 3, 2018);
INSERT INTO dim_date VALUES ('DD006', '06/04/2020', 11, 'June', 2, 2020);
INSERT INTO dim_date VALUES ('DD007', '01/05/2020', 20, 'January', 1, 2020);

In [ ]:
%%sql
-- Insert data into the store dimension table --
INSERT INTO dim_store VALUES ('ST001', 'Lagos', 'Nigeria');
INSERT INTO dim_store VALUES ('ST002', 'Accra', 'Ghana');
INSERT INTO dim_store VALUES ('ST003', 'Edo', 'Nigeria');
INSERT INTO dim_store VALUES ('ST004', 'Porthacourt', 'Nigeria');
INSERT INTO dim_store VALUES ('ST005', 'Cape coast', 'Ghana');
INSERT INTO dim_store VALUES ('ST006', 'Kumasi', 'Ghana');
INSERT INTO dim_store VALUES ('ST007', 'Johanesburg', 'South Africa');

In [ ]:
%%sql
-- Insert data into the product dimension table --
INSERT INTO dim_product VALUES ('PD001', 'DEL00A1', 'Dell Inspiron', 7500, 'Computing Device');
INSERT INTO dim_product VALUES ('PD002', 'LGY0AE05', 'LG Tv', 1500, 'Electronics');
INSERT INTO dim_product VALUES ('PD003', 'CH0EY15', 'Swivel Chair', 1500, 'Office Equipments');
INSERT INTO dim_product VALUES ('PD004', 'FN0Q00E', 'Stand Fan', 700, 'Electronics');
INSERT INTO dim_product VALUES ('PD005', 'PS4Y0AE0', 'Play Station 4', 2500, 'Electronics');
INSERT INTO dim_product VALUES ('PD006', 'APLHAE03', 'MacBook Pro 16', 5500, 'Computing Device');
INSERT INTO dim_product VALUES ('PD007', 'IPHHAE77', 'Iphone X Max', 1700, 'Phone Device');

In [ ]:
%%sql
-- Insert data into the fact table --
INSERT INTO fact_sales VALUES ('DD002', 'ST001', 'PD003', 12);
INSERT INTO fact_sales VALUES ('DD004', 'ST002', 'PD001', 8);
INSERT INTO fact_sales VALUES ('DD005', 'ST001', 'PD007', 3);
INSERT INTO fact_sales VALUES ('DD006', 'ST004', 'PD007', 4);
INSERT INTO fact_sales VALUES ('DD007', 'ST007', 'PD006', 15);
INSERT INTO fact_sales VALUES ('DD001', 'ST007', 'PD002', 4);
INSERT INTO fact_sales VALUES ('DD003', 'ST003', 'PD005', 22);

### View Data from the product Table

In [ ]:
%%sql
select * from dim_product;

### View Data from the Store Table

In [ ]:
%%sql
select * from dim_store

### View Data from the Sales Table

In [ ]:
%%sql
select * from fact_sales

### View the total Quantity of Product Sold for each country

In [ ]:
%%sql
select country, sum(units_sold) as total_quantity_sold
from dim_store as st
join fact_sales as sl
on st.store_id = sl.store_id
group by country

### View the total sales for each country

In [ ]:
%%sql
select country, sum(units_sold * price) as total_sales
from dim_store st
join fact_sales sl
on st.store_id = sl.store_id
join dim_product prd
on sl.product_id = prd.product_id
group by country

### View the total sales for each Store

In [ ]:
%%sql
select st.store_id, sum(units_sold * price) as total_sales
from dim_store st
join fact_sales sl
on st.store_id = sl.store_id
join dim_product prd
on sl.product_id = prd.product_id
group by st.store_id